html {
    scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", 'Lato', sans-serif;
}
.first-color { 
	background: #5585b5; 
}
	
.second-color { 
	background: #53a8b6; 
}

.third-color { 
	background: #79c2d0; 
}

.fourth-color { 
	background: #bbe4e9; 
}

.main{
  background-color: #53a8b6;
}


/* --------------------nav bar------------------------*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0, 0, 0, 0.6); /* Set a semi-transparent background color */
  backdrop-filter: blur(10px); /* Apply a background blur */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  overflow: hidden;
  display: flex;
  position: fixed;
  width: 100%;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
  
}



  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
 


  
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #ffc1c1;
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-hero-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}



.topnav--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
  
/* --------------------intro------------------------*/


.body{
  font-family: "Century Gothic", 'Lato', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}




.introduction {
  height: 100vh;
  display: flex;
  width: 100%;
   background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,87,123,1) 35%, rgba(0,212,255,1) 100%);
}

.left {
  width: 50%;
  padding-top: 12%;
  padding-left: 15%;
  float: left;
}

.left img {
  width: 70%;
  border-radius: 10%;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease .5s, box-shadow ease .5s;

}

.left img:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.right {
  float: right;
  width: 50%;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  
}

.right p {
  font-style: italic;
}
.hello{
  font-size:100px;
  color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

/* ----------------------------------Download CV btn --------------------- */
.btn {
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #187cae 0%, #080809 100%);
  box-shadow: 0 20px 30px -6px rgba(119, 5, 157, 0.844);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}





 /* .introduction {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */


/* .child {
  
  /* border: 1px solid black; /* Optional: Add borders for visual separation */
 /* padding: 10px; Optional: Add padding for better visuals */

/* 
#child1{
  width: 50%;
  height:100%;
} */
/* 
.child img{
 width: 100%;
}   */

/* ----------------qualification------------------ */



.Quali {
  padding-top:2%; 
  background: rgb(25,0,36);
  background: linear-gradient(90deg, rgba(25,0,36,0.8010853999803046) 0%, rgba(9,54,121,0.7170517865349264) 35%, rgba(0,212,255,0.33049716468618695) 100%);
}

.Quali .box {
  padding: 2%;
  margin:0 30%;
  height: auto;
  border: solid 1px rgb(78, 77, 77);
  border-radius: 5%;
  
}

.Quali .box .label {

  position: relative;
  padding: 10px;
  background: linear-gradient(90deg,  rgba(0,212,255,0.33049716468618695)0%, rgba(9,54,121,0.7170517865349264) 35%,  100%);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.Quali .box .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
 
}

.Quali .box.active .label::before {
  content: '-';
}



.Quali .box .content {
  /* border-radius: 30%; */
  color: rgb(0, 0, 0);
  position: relative;
  background: #75dae3cd;
  height: 0;
   /* display: none;   */
  overflow: hidden;
  transition: 0.5s;
  
  
}


.Quali .box.active .content {
  height: 160px;
  padding: 10px;
  display: block;

}
EducationQualifications{
  color: rgb(11, 11, 11);
}



.Quali .wording p{
  padding: 5%;
  /* align-items: center;
  justify-content: center; */
}
.Quali .wording h1{
 text-align:center ;
}

/*-------------------------------Skills-----------------*/
.p1 {
  font-size: 20px;
}

.container {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: rgb(3, 64, 29);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.html {
  width: 80%;
}

.css {
  width: 50%;
}

.php {
  width: 60%;
}
.javascript {
  width: 50%;
}
.spring {
  width: 30%;
}
.react {
  width: 75%;
}
.sql {
  width: 65%;
}


/* ----------------Contact US----------------- */

.Contact{
  background-color: #052229;
  
}



.icon{
  background: rgba(136, 135, 151, 0.57);
  background: linear-gradient(90deg, rgba(75, 73, 99, 0.558) 0%,rgba(137, 137, 227, 0.316)) 35%, rgba(194, 208, 210, 0.722) 100%;
  
  height: auto;
  /* display: flex; */
  /* margin-top: 20%; */
  padding:10%;

 
 
  
 
}
.btn .img{
  width: 10px;
}
.Telephone{
  
  width: 75%;
  padding-left: 10%;
  display: flex;
  margin: 1%;
  border: solid black;

}
.Email{
  width: 75%;
  padding-left: 10%;
  display: flex;
  margin: 1%;
  border: solid black;
  color: #000;
  
}
.Facebook{
  width: 75%;
  padding-left: 10%;
  display: flex;
  margin: 1%;
  border: solid black;
  
}
.GitHub{
  width: 75%;
  padding-left: 10%;
  display: flex;
  margin: 1%;
  border: solid black;
}
.email{
  
  padding-left: 20%;
  display: flex;
  
  
}
.num{
  
  padding-left: 20%;
  display: flex;
  
}

.fb{
  
  padding-left: 20%;
  display: flex;
  
  
}

.git{
  
  padding-left: 20%;
  display: flex;
  
}

.icon a{
  color: #000;
}





/* ----------------caller button------------------ */
.boxbtn{
  width: 100px;
  height: 100px;
  color: rgb(38, 106, 166);
  font-weight: bold;
  border-radius: 100%;
  background-image: linear-gradient(135deg, #187cae 0%, #080809 100%);
  box-shadow: 0 20px 30px -6px rgba(119, 5, 157, 0.844);  
  color: white;
  outline: none;
 cursor: pointer;
 border: none;
 font-size: 20px;

 } 

 #b1{
   position:fixed;
   right: 1%;
   bottom: 0;;
 }

 



.btn:hover {
 transform: translateY(3px);
 box-shadow: none;
}

.btn:active {
 opacity: 0.5;
}

 .boxbtn img{

  margin-top: 35%; 
  margin-left: 35%; 
 }

 a {
  text-decoration: none;
}

/* --------------------------------------------------------- */


/* ----------------------footer----------------------------------- */
.footer{
  display: flex;
  background:#000 ;
  color: #8a8a8a;
  padding: 60px 0 20px;
  display: flex;
}







.footer-col-4{
  flex:1 ;
  text-align: center;
  float: right;
  justify-content: center;
}

.footer-col-2{
  flex:1 ;
  text-align: left;
  float: left;
  align-items: center;
  justify-content: center;
  display: flex
}

.footer-col-4 a{
  color: #8a8a8a;


}



